<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6 Sign Up</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Sign Up</h1>
        <div>
            <!-- Create a sign up form here -->
            <form method="post">
                <label form"firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName"
                minlength="2" required/>


                <br>

                <label form"lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName"
                minlength="2"required/>


                <br>

                <label form"email">Email:</label>
                <input type="email" id="email" name="email"/>

                <br>

                <label form"phoneNumber">Phone Number:</label>
                <input type="tel" id="phoneNumber" name="phoneNumber"
                required pattern="[0-9]{10}" placeholder="Enter a 10 digit mobile number"/>

                <br>

                <label form"password">Password:</label>
                <input type="password" id="password" name="password" required/>

                <br>

                <input type="submit">


            </form>
        </div>

        <br>
        <a href="/">
            <button type="button" id="home">Home</button>
        </a>
    </body>
</html>
